<ion-view view-title="Album">
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>

		<div class="card" ng-repeat="photo in vm.photos">
			<div class="item">
				<h2 style="float: left;">{{photo.place.name}}</h2>
				<p class="text-right" am-time-ago="photo.created_time"></p>
			</div>

			<div class="item item-image">
				<img ng-src="{{photo.source}}">
			</div>
			
			<ion-item class="item-text-wrap" ng-if="!!photo.name">
				<p>{{photo.name}}</p>
			</ion-item>
		</div>

		<ion-infinite-scroll
			on-infinite="vm.loadMore()"
			ng-if="!!vm.url"
			immediate-check="false">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
