<ion-view view-title="Facebook">
	<ion-content>
		<div class="padding" ng-if="!vm.accessToken">
			<p>Login with your <strong>Facebook account</strong>.</p>
			<p>The application will pull from <strong>Facebook</strong> and will display your <strong>full name</strong> and <strog>email address</strong>.</p>
		</div>

		<div class="card" ng-if="!!vm.profile">
			<div class="item item-divider">
    		User details
  		</div>
			<div class="item item-text-wrap">
				<p>{{vm.profile.name}}</p>
				<p>{{vm.profile.email}}</p>
			</div>
		</div>

		<div class="card" ng-if="!!vm.accessToken">
			<div class="item item-divider">
    		Access Token
  		</div>
			<div class="item item-text-wrap">
				{{vm.accessToken || 'Not authorized'}}
			</div>
		</div>

		<div class="padding">
			<button ng-if="!vm.accessToken" class="button button-block button-positive" ng-click="vm.login()">
				Login
			</button>
			<button ng-if="!!vm.accessToken" class="button button-block button-royal" ng-click="vm.showAlbums()">
				User albums
			</button>
			<button ng-if="!!vm.accessToken" class="button button-block button-assertive" ng-click="vm.logout()">
				Logout
			</button>
			<div class="padding"></div>
			<button class="button button-block button-balanced" ng-click="vm.showPagePhotos()">
				Page photos
			</button>
		</div>

	</ion-content>
</ion-view>
