<ion-view view-title="OAuth login">
	<ion-content>
		<h4 class="text-center">Please login by using one of the following providers</h4>
		<div class="list list-inset">
			<ion-item class="item-icon-left" ng-click="vm.twitterLogin()">
				<i class="icon ion-social-twitter"></i>
				Twitter
			</ion-item>
			<ion-item class="item-icon-left" ng-click="vm.facebookLogin()">
				<i class="icon ion-social-facebook"></i>
				Facebook
			</ion-item>
			<ion-item class="item-icon-left" ng-click="vm.googleLogin()">
				<i class="icon ion-social-google"></i>
				Google
			</ion-item>
		</div>
	</ion-content>
</ion-view>
